<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <form th:action="@{'admin/item/'+ @{items.number}}" role=form method="get" th:object="${items}">
        <table class="table">
            <thead>
            <tr>
                <td>상품 아이디</td>
                <td>상품명</td>
                <td>상태</td>
                <td>등록자</td>
                <td>등록일</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, status : ${items.getContent()}">
                <td th:text="${item.id}"></td>
                <td>
                    <a th:href="'/damin/item/'+${item.id}" th:text="${item.itemNm}"></a>
                </td>
                <td th:text="${item.itemSellStatus == T(com.make.bookclub.constant.ItemSellStatus).SELL} ? '판매중' : '품절'"></td>
                <td th:text="${item.createBy}"></td>
                <td th:text="${item.regTime}"></td>
            </tr>
            </tbody>

        </table>
    </form>

</div>