  .form-group{
    margin: 0 auto;
    height: 100px;
    width:50%;
    text-align: center;

    }
    form{
      text-align: center;
    }
    .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right 0;
    width:100%;
    }