<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


    <div layout:fragment="content">
        <div id="carouselControls" class="carousel slide margin" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active item">
                    <img src="https://stickershop.line-scdn.net/stickershop/v1/product/23765509/LINEStorePC/main.png?v=1"

                         class="d-block w-100 banner" alt="First slide">
                </div>
            </div>
        </div>
    </div>


</html>